{{ define "main" }}
<content class="flex flex-col gap-4">
  {{ if .Data.Singular }}
  <div class="flex flex-col gap-1.5">

    <h3>Filtering for "{{ .Title }}"</h3>
    <span>
      <a href="{{ "blog" | relURL }}" class="px-2 py-1 rounded-md text-xs font-medium border no-underline">Remove filter</a>
    </span>
  </div>
  {{ end }}
  {{ if not .Data.Singular }}
  {{ end }}
  <ul class="blog-posts">
    {{ range .Pages }}
    <li>
      <span>
        <time datetime='{{ .Date.Format "2006-01-02" }}'>
          {{ .Date.Format (default "02 January 2006" .Site.Params.dateFormat) }}
        </time>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>
  <div>
    {{ range .Site.Taxonomies.tags }}
    <a href="{{ .Page.Permalink }}" class="px-2 py-1 rounded-md text-sm font-medium border">{{ .Page.Title }}</a>&nbsp;
    {{ end }}
  </div>
</content>
{{ end }}
