{{ define "main" }}
{{ if and (.Date) (not (eq .Date.Year 1)) }}
<h1>{{ .Title }}</h1>
<p>
  <time datetime='{{ .Date.Format "2006-01-02" }}'>
    {{ .Date.Format (default "02 January 2006" .Site.Params.dateFormat) }}
  </time>
</p>

<hr />
{{ else }}
<h1>{{ .Title }}</h1>
{{ end }}
<content>
  {{ .Content }}
</content>

{{ if .GetTerms "tags" }}
<div class="flex flex-wrap gap-2 mt-4">
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}" class="px-2 py-1 rounded-md text-sm font-medium border no-underline hover:bg-gray-100 dark:hover:bg-gray-800 transition-colors">{{ .LinkTitle }}</a>
  {{ end }}
</div>
{{ end }}
{{ end }}
